.feature-section-wrapper {
  padding-top: 80px;
  .feature-heading {
    text-align: center;
    font-family: "Tomato Grotesk";
    font-weight: 600;
  }
  .feature-items-wrapper {
    .feature-item {
      display: flex;

      align-items: center;
      flex-direction: column;
      padding: 33px;
      border: 2px solid transparent;
      .feature-item-heading {
        // font-family: "Inter";
        font-weight: 600;
        text-align: center;
      }
      .feature-item-para {
        // font-family: "Inter";
        margin-top: 20px;
        font-weight: 400;
        color: #667085;
        text-align: center;
      }
      &:hover {
        background: #f7ffff;
        border: 2px solid #006766;
        border-radius: 16px;
        cursor: pointer;
      }
    }
  }
}
