.process-explainer-main-box {
  position: relative;
  padding-top: 80px;

  .line-pattern-process-explainer {
    position: absolute;
    left: 104px;
    bottom: 0;
    transform: scale(1.4);
    z-index: -1;

    @media (max-width: 500px) {
      transform: scale(0.8);
      bottom: 5%;
    }

    @media (max-width: 1200px) {
      bottom: 5%;

      transform: scale(0.9);
    }

    @media (min-width: 1550px) {
      left: 14%;
    }
    @media (min-width: 1850px) {
      left: 11%;
      transform: scale(2.2);
    }

    @media (min-width: 2100px) {
      left: 20%;
    }
  }

  .process-explainer-wrapper {
    padding: 15px;

    .col-reverse {
      @media (max-width: 500px) {
        flex-direction: column-reverse;
      }
    }

    .process-explainer-item-img-box {
      position: relative;

      @media (max-width: 500px) {
        margin-top: 30px;
      }

      .process-explainer-item-video {
        // position: absolute;
        // bottom: 20px;
        padding-right: 144px;
        position: relative;
        margin-top: 30px;
        span {
          position: absolute;
          top: 50%;
          display: block;
          right: 55%;
          z-index: 1111111;
          svg {
            font-size: 74px;
          }

          &:hover {
            span {
              display: block;
            }
          }
        }
        video {
          aspect-ratio: 1/1;
          object-fit: cover;
          /* height: auto; */
          width: 100%;
          box-shadow: 1px 3px 20px 0px;

          @media (max-width: 500px) {
            width: 164%;
          }

          border-radius: 0px 200px 0px 0px;
        }
      }
    }
    .process-explainer-item-boxes {
      .process-explainer-item-box-active {
        border: 2px solid #66b1b4;

        box-shadow: 0px 10px 15px -3px rgba(16, 24, 40, 0.1),
          0px 4px 6px -4px rgba(16, 24, 40, 0.1);
        border-radius: 12px;
        padding: 15px;

        .step-head {
        }
        .sub-step {
          font-weight: 500;
        }
        .step-para {
          font-weight: 400;
          color: #667085;
        }
      }
      .process-explainer-item-box {
        border: 1px solid #e5e7eb;
        /* Drop shadow/Small */

        box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1),
          0px 1px 2px -1px rgba(16, 24, 40, 0.1);
        border-radius: 12px;

        @media (min-width: 1700px) {
          padding: 36px;
        }
        padding: 15px;

        .step-head {
          font-weight: 600;
        }
        .sub-step {
          font-weight: 500;
          font-weight: 600;
        }
        .step-para {
          font-weight: 400;
          color: #667085;
        }
      }
    }
  }
}
