.signup-wrapper {
  // height: 100vh;

  padding: 20px 30px;
  background-color: #f5f5f5;
  border-radius: 4px;
  min-height: 100vh;
  .signup-screen-top-logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .signup-screen-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 82px 80px;
    // min-height: 80%;
    @media (max-width: 700px) {
      padding: 82px 18px;
    }
    .signup-form-wrapper {
      display: flex;
      flex-direction: column;

      @media (max-width: 700px) {
        width: 100%;
      }

      width: 50%;
      // height: 100%;
      .signup-heading {
        color: #10888b;
        font-family: "Tomato Grotesk";
        font-weight: 600;
      }
      .signup-form-button {
        background: #006766;
        border: 1px solid #006766;
        /* Shadow/xs */

        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
        border-radius: 4px;
        text-transform: capitalize;
      }
      .last-text {
        color: #667085;

        font-weight: 400;
        text-align: center;
        span {
          color: #008284;

          font-weight: bolder;
          cursor: pointer;
        }
      }
      .google-signup-button {
        background-color: #fff;
        color: #344054;

        border: 1px solid #d0d5dd;
        /* Shadow/xs */

        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
        border-radius: 8px;

        font-weight: bolder;
        text-transform: capitalize;
      }
    }
  }
}
